<% flash.each do |key, value| %>
  <%= content_tag(:div, value.html_safe, class: "alert alert-#{key} flash") %>
<% end %>

<% if @add_members && @add_members.errors.any? %>
<section id="errors">
<div class="alert alert-danger">
  <header>
    <h3>There is a problem with what you entered:</h3>
  </header>
  <ul>
    <% @add_members.errors.full_messages.each do |message| %>
      <li><%= message.html_safe %></li>
    <% end %>
  </ul>
</div>
</section>
<% end %>
