<p>In the space below, enter at least the email addresses of the people you wish to add to the workshop, <strong>one per line</strong>.<br> Optionally also include comma-separated lastname, firstname, affiliation. For example:
<blockquote>
  alice_fang@sfu.ca, Fang, Alice, Simon Fraser University<br>
  john.smith@ubc.ca<br>
  rgupta@mit.edu, Gupta, Rajesh
</blockquote>
<p>If the email addresses match records in our database, they will be added immediately. Otherwise, you will be presented with a form to collect missing data, if necessary.</p>


<%= f.text_area :add_members, rows: 6, class: 'form-control', placeholder:
                   "john.smith@ubc.ca, Smith, John, University of British
                   Columbia".squish %>
