
<div class="well">
	<h3>Please enter the new participant's email address:</h3>
		<%= f.fields_for @membership.person do |person| %>
		<div class="form-group">
		<% #email_field_tag 'email', '', class: "form-control" %>
		<%= person.text_field :email, class: 'form-control' %>
		</div>
	  <%= submit_tag "Next", class: 'btn btn-sm btn-default' %>
		<% end %>
	
</div>