<!-- Member Review Modal -->
<div class="modal fade" id="member-review" tabindex="-1" aria-labelledby="memberReviewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="dialog">
    <div class="modal-content">
      <div id="member-form">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
