<ol class="ordered-member-list p-2">
<% members.each do |member| %>
  <li id="member-<%= member.id %>" class="member-list-item <%= reply_due?(member) %>">
    <span class="member-name"><%= show_member(member) %></span>
    <% if show_invited_on?(member.attendance) %>
      <span class="reply-by-date"><%= show_invited_on_date(member, true) %></span>
    <% end %>
  </li>
<% end %>
</ol>
