<ol class="ordered-member-list">
<% members.each do |member| %>
  <li id="member-<%= member.id %>">
    <% if member.role =~ /Organizer/ %>
      <strong><%= member.role %>:</strong>
    <% end %>
    <% if member.role == 'Observer' %>
      Observer:
    <% end %>
    <%= link_to "#{member.person.lname}", event_membership_path(@event, member) %>
    <% unless member.person.affiliation.blank? %>
      (<%= member.person.affiliation %>)
    <% end %>

  </li>
<% end %>
</ol>
