<div class="modal-header d-flex mb-2">
  <div class="p-2">
    <h2 class="modal-title" id="memberReviewLabel">
    <%= @modal_title %>
    </h2>
  </div>
  <div id="close-x" class="p-2 ml-auto"><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>
</div>
<div class="modal-body"
  <p>This is my modal content.</p>

  <p>Here is a variable <%= @yay %>.</p>
</div>
