<!-- Notice of new invitations feature modal -->
<div class="modal fade in" id="new-feature-notice" tabindex="-1" role="dialog" aria-labelledby="new-feature-notice" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="new-feature-title">New Invitations Section!</h3>
      </div>
      <div class="modal-body">
        <p>The buttons to send invitations have been removed from the Members list. Now, invitations and
          <em>reminders</em> are done on a separate page. Click "<i class="fa fa-envelope fa-fw"></i>
          Invite Members" in the left sidebar to access it. Or in the navigation menu on small screens.</p>
        <p>Also new: hover over or click on <i class="glyphicon glyphicon-repeat"></i> icons to see when invitation
          reminders were sent. You can also hover over invitation dates for more details.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
