<h1>Add Members to <%= @event.code %></h1>

<p>Enter the email addresses of the people you wish to add to the workshop. You can enter the email addresses one per line, or separated by commas, and/or by spaces. If they match with records in our database, they will be added. Otherwise, you will be presented with a form for additional information, such as their name(s).</p>

<form>
  <textarea width="100%">
  </textarea>
  <br />
  <input type="submit" name="submit" value="Submit" />
</form>
