<article>
<% content_for :title do %>
	<h3><%= link_to @event.name, @event %><h3>
	<h4><%= @event.dates %></h4>
<% end %>
<div class="d-flex flex-wrap align-content-stretch align-self-start">
<%= render 'form'%>
</div>
</article>
