<article>
<% content_for :title do %>
	<h3><%= link_to @event.name, @event %><h3>
	<h4><%= @event.dates %></h4>
<% end %>

<%= form_for([@event, @membership], :html => { :role => "form", :class => "form-horizontal" }) do |f| %>
<%= render 'form', :f => f %>
<% end %>

</article>
