<div class="well well-lg">
  <h3>Account Created</h3>
  <p>
    To verify that it is really you who just set a password,
    we sent an email to the address that you provided. It contains
    a link that you must click to confirm your identity. Please
    check your spam/junk mail folders, if you don't see it. Thank you.
  </p>
</div>
