#!/bin/bash
set -e

echo
echo "Welcome to OS:"
uname -v
cat /etc/issue

echo
echo "Setting system timezone..."
export DEBIAN_FRONTEND=noninteractive DEBCONF_NONINTERACTIVE_SEEN=true
echo "tzdata tzdata/Areas select America" > /tmp/tz.txt
echo "tzdata tzdata/Zones/America select Edmonton" >> /tmp/tz.txt
debconf-set-selections /tmp/tz.txt
rm /etc/timezone
rm /etc/localtime
dpkg-reconfigure --frontend noninteractive tzdata

# First-time run only
# echo
# echo "Create gemset..."
# gpg --keyserver keys.openpgp.org --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB
# /usr/bin/curl -sSL https://get.rvm.io | bash -s stable
# /usr/local/rvm/bin/rvm gemset create ruby-2.6.2
# /usr/local/rvm/bin/rvm gemset use ruby-2.6.2@global
# /usr/local/rvm/bin/rvm cleanup all
# /usr/local/rvm/bin/rvm reload
# su - app -c "yarn install"
# su - app -c "yarn add webpack-cli -D"

# echo
# echo "Installing latest bundler..."
# /usr/local/rvm/bin/rvm-exec 2.6.2 gem install bundler
# /usr/local/rvm/bin/rvm-exec 2.6.2 bundle update --bundler
# /usr/local/rvm/bin/rvm-exec 2.6.2 gem update --system
# /usr/local/rvm/bin/rvm-exec 2.6.2 gem install rubygems-bundler

# echo
# echo "Bundle update rails..."
# RAILS_ENV=development /usr/local/rvm/bin/rvm-exec 2.6.2 bundle update rails

# echo
# echo "Bundle install..."
# RAILS_ENV=development /usr/local/rvm/bin/rvm-exec 2.6.2 bundle install

echo
echo "Bundle update..."
RAILS_ENV=development /usr/local/rvm/bin/rvm-exec 2.6.2 bundle update

echo
echo "Running migrations..."
rake db:migrate RAILS_ENV=development
rake db:migrate RAILS_ENV=test
# rake db:migrate RAILS_ENV=production

if [ -e lib/tasks/ws.rake ]; then
  # Default settings
  echo
  echo "Adding default Settings..."
  rake ws:init_settings

  echo
  echo "Creating admins..."
  rake ws:create_admins RAILS_ENV=development
fi

echo
echo "Changing to non-root file permissions..."
chown -R app:app /usr/local/rvm/gems
if [ ! -e /home/app/workshops/tmp ]; then
 mkdir -p /home/app/workshops/tmp
 mkdir -p /home/app/workshops/vendor/cache
fi
chown -R app:app /home/app/workshops

echo
echo "Compiling Assets..."
su - app -c "yarn add webpack-cli -D"
su - app -c yarn
su - app -c "yarn upgrade --latest"
su - app -c "cd /home/app/workshops; RAILS_ENV=development SECRET_KEY_BASE=token bundle exec rake assets:precompile --trace"
su - app -c yarn

echo
echo "Starting web server..."
bundle exec passenger start
