#!/bin/sh
set -e

echo
echo "Setting system timezone..."
dpkg-reconfigure -f noninteractive tzdata

echo
echo "Installing latest bundler..."
/usr/local/rvm/bin/rvm-exec 2.4.0 gem install bundler
/usr/local/rvm/bin/rvm-exec 2.4.0 gem install rubygems-bundler

echo
echo "Bundle install..."
RAILS_ENV=development ./bin/bundle install

# Remove after first run
echo
echo "Setting up database..."
rake db:setup RAILS_ENV=development
rake db:setup RAILS_ENV=test
rake db:setup RAILS_ENV=production

echo
echo "Running migrations..."
rake db:migrate RAILS_ENV=development
rake db:migrate RAILS_ENV=test
rake db:migrate RAILS_ENV=production

echo
echo "Adding default settings..."
rake ws:init_settings

echo
echo "Creating admins..."
if [ -e lib/tasks/birs.rake ]; then
  rake birs:create_admins RAILS_ENV=development
else
  rake ws:create_admins RAILS_ENV=development
fi

echo
echo "Chowning..."
chown -R app:app /usr/local/rvm/gems
if [ ! -e /home/app/workshops/tmp ]; then
  mkdir /home/app/workshops/tmp
  mkdir -p /home/app/workshops/vendor/cache
fi
chown -R app:app /home/app/workshops

# echo
# echo "Compiling Assets..."
# chown -R app /home/app/workshops/tmp
# su - app -c "cd /home/app/workshops; RAILS_ENV=production SECRET_KEY_BASE=token bundle exec rake assets:precompile --trace"

# Settings in Passengerfile.json
echo
echo "Starting web server..."
bundle exec passenger start
