#!/usr/bin/env bash

echo
echo "Setting system timezone..."
dpkg-reconfigure -f noninteractive tzdata

echo
echo "Gem environment is:"
gem environment

echo
echo "Installing latest bundler..."
gem install bundler
gem install rubygems-bundler

echo
echo "Updating RVM..."
/usr/local/rvm/bin/rvm get stable --auto-dotfiles
/usr/local/rvm/bin/rvm gem regenerate_binstubs
/usr/local/rvm/bin/rvm reload && /usr/local/rvm/bin/rvm repair all
# /usr/local/rvm/bin/rvm wrapper ruby --no-prefix --all

echo
echo "Bundle install..."
cd /home/app/workshops; RAILS_ENV=development ./bin/bundle install

echo
echo "chowning gems..."
chown -R app /home/app/workshops/vendor/cache

echo
echo "Waiting 30 seconds, for database"
sleep 30

echo
echo "Running migrations..."
rake db:migrate RAILS_ENV=development

echo
echo "Creating admins..."
if [ -e lib/tasks/birs.rake ]; then
  rake birs:create_admins RAILS_ENV=development

  echo
  echo "Importing data..."
  rake birs:import_data[2016] RAILS_ENV=development
  rake birs:import_data[2017] RAILS_ENV=development
else
  rake ws:create_admins RAILS_ENV=development
  echo
  echo "lib/tasks/birs.rake not found, not importing BIRS data."
fi


# echo
# echo "Compiling Assets..."
# chown -R app /home/app/workshops/tmp
# su - app -c "cd /home/app/workshops; RAILS_ENV=production bundle exec rake assets:precompile --trace"

echo
echo "Starting web server..."
/usr/bin/passenger start
# /home/app/workshops/bin/rails server -e development -b 0.0.0.0 -p 80
