<article>
  <div class="row">
    <div class="col-lg-9">
      <%= render 'form' %>
    </div>
    <!-- /.col-lg-9 -->

    <div class="col-lg-3">
    <%= render 'schedule_sidebar' %>
    </div>
    <!-- /.col-lg-3 -->
  </div>
  <!-- /.row -->
</article>
