<% if object.errors.any? %>
<section id="errors">
<div class="alert alert-danger">
  <header>
    <h3>
      The <%= object.class.name.humanize.downcase %> could not be saved.
    </h3>
    <h4>
      Please correct the following:
    </h4>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <% unless message =~ /is invalid/ %>
      <li><%= message.html_safe %></li>
      <% end %>
    <% end %>
  </ul>
</div>
</section>
<% end %>
