<article>
<div class="row">
  <div class="col-md-12 your-workshops">
    <h2>Your Current & Upcoming Workshops</h2>
  </div>
</div>
<!-- /.row -->

<%= render partial: "membership", collection: @memberships %>

</article>