<article>
  <div class="row">

    <div class="col-md-5">
      <div class="well">
        <h3>Dear workshop organizer,</h3>
        <p>To enter your workshop schedule, click the "Manage Schedule" button under the workshop's name.
          If you can't see the button, click the workshop's name.</p>
        <p>There are also navigation links on the left side of the page (or in the menu on a small screen).</p>
        <p>This program is a work in progress. We hope that you enjoy using it, and
          <a href="<%= Global.email.webmaster %>">welcome any feedback</a> you may have.</p>
      </div>
      <!-- /.well -->
    </div>
    <!-- /.col-md-5 -->

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading your-workshops-heading">
          <%= @event_heading %>
        </div>
        <!-- .panel-heading -->
        <div class="panel-body">
          <div class="panel-group" id="accordion">

            <%= render partial: "event", collection: @events %>

          </div>
          <!-- .panel-group #accordion -->
        </div>
        <!-- .panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-md-7 -->

  </div>
  <!-- /.row -->
</article>