<div class="row">
  <div class='col-md-12'>
    <div class="form-group">
      <%= form.label "#{field_name.titleize}" %>
      <%= form.text_field field_name.to_sym, class: 'form-control' %>
    </div>
  </div>
</div>