<article>
  <div class="row">
    <div class="col-lg-12">
      <h1>New Event</h1>
        <%= render 'member_form' %>
    </div>
    <!-- /.col-lg-12 -->

    <%= link_to 'Back', events_path %>
  </div>
  <!-- /.row -->
</article>