   <%= setting_form.fields_for @setting.var do |field_form| %>
     <% @setting.value.each do |field_name, field_value| %>
        <label><%= field_name.to_s.titleize %></label> (<%= field_name %>):
        <p>
          <%= field_form.text_field field_name, value: field_value.to_s,
            class: 'form-control' %>
        </p>
      <% end %>

    <% end %>
