<ul class="nav nav-tabs settings">
    <% @tabs.each do |tab| %>
      <li id="<%= tab %>" class="nav-item">
        <%= link_to tab.titleize, edit_setting_path(tab),
                    class: "nav-link #{'active' if tab == params[:id]}",
                     data: { toggle: 'tooltip' } %>
      </li>
    <% end %>
    <li id="new" class="nav-item">
      <% if policy(Setting).new? %>
        <%= link_to '+/- Setting', new_setting_path,
                      class: "nav-link #{'active' if action_name == 'new'}" %>
      <% end %>
    </li>
</ul>
