<%= render "settings_nav" %>
<div class="tab">
  <%= form_for(@setting, url: setting_path(@setting.var), method: 'patch') do
      |setting_form| %>
    <% if @setting.var == 'Site' %>
      <%= render partial: 'site', locals: { setting_form: setting_form } %>
    <% else %>
      <%= render partial: 'edit_form', locals: { setting_form: setting_form } %>
    <% end %>
  <% end %>
</div>
