<div class="panel-body">
  <div class="jumbotron invitation-errors">
    <div class="row">
      <h3>There is a problem with that invitation code:</h3>
      <ul>
        <% @invitation.errors.each do |key, message| %>
          <li><strong><%= key %></strong>: <%= message.html_safe %></li>
        <% end %>
      </ul>
      <h4>You may generate a new code by
        <%= link_to 'clicking here', invitations_new_path %>.</h4>
    </div>
  </div>
</div>
