<% if @rsvp && @rsvp.errors.any? %>
<section id="errors">
<div class="alert alert-danger">
  <header>
    <h3>Submission Not Successful!</h3>
    <h4>Please correct the following problems:</h4>
  </header>
  <ul>
    <% @rsvp.errors.full_messages.each do |message| %>
      <li><%= message.html_safe %></li>
    <% end %>
  </ul>
</div>
</section>
<% end %>

<% if @email_form && @email_form.errors.any? %>
<section id="errors">
<div class="alert alert-danger">
  <header>
    <h3>There is a problem with what you entered:</h3>
  </header>
  <ul>
    <% @email_form.errors.full_messages.each do |message| %>
      <li><%= message.html_safe %></li>
    <% end %>
  </ul>
</div>
</section>
<% end %>
