<% if @rsvp && @rsvp.errors.any? %>
<section id="errors">
<div class="alert alert-danger">
  <header>
  <% if @rsvp.errors.has_key?(:Membership) %>
    <h3>
      Your request could not be made:
    </h3>
  <% else %>
    <h3>
      There is an error in your request.
    </h3>
    <h4>
      Please correct the following:
    </h4>
  <% end %>
  </header>
  <ul>
    <% @rsvp.errors.full_messages.each do |message| %>
      <li><%= message.html_safe %></li>
    <% end %>
  </ul>
</div>
</section>
<% end %>
