<div class="row invitation-box container">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'validation_errors' %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">Invitation RSVP</h1>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class='col-md-12 text-center'>
              <h1>DENIED!</h1>
          </div>
        </div>

        <div class="row">
          <div class='col-md-12'>
              <p class='lead'><%= @message %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
