<div class="row invitation-box container">
  <div class="col-md-8 col-md-offset-1">
    <%= render 'validation_errors' %>
    <div class="panel panel-primary" id="email-form">
      <div class="panel-heading">
        <span class="panel-title"><h4>Confirm Your E-mail Address</h4></span>
      </div>
      <div class="panel-body">
      <% if @person.pending_replacement? %>
        <%= render 'verify_email_form' %>
      <% else %>
        <%= render 'enter_email_form' %>
      <% end %>
      </div><!-- panel-body -->
    </div><!-- panel email-form -->
  </div><!-- col-md-8 -->
</div><!-- container -->
