<div class="row invitation-box container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title"><h4>Invitation RSVP</h4></span>
      </div>
      <% if @invitation.errors.any? %>
        <%= render 'invitation_errors' %>
      <% else %>
        <%= render 'questions' %>
      <% end %>
    </div>
  </div>
</div>
