<h1>BIRS RSVP</h1>
<%= form_tag do %>
<fieldset>
<div class="row">
  <div class='col-md-6'>
    <div class="form-group">
      <p><label>Select the event you were invited to:</label></p>
      <%= select_tag(:event, options_for_select(future_events_options),
                     class: 'form-control') %>
    </div>
  </div>
</div>
<div class="row">
  <div class='col-md-6'>
    <div class="form-group">
      <p>Enter the email address to which the invitation was sent:</p>
    </div>
  </div>
</div>
</fieldset>
<% end %>
