<div class="row invitation-box container">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'validation_errors' %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title"><h4>Invitation RSVP</h4></span>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class='col-md-12 text-center'>
              <h1>Thank you for letting us know</h1>
              <h4>The event organizer will be notified.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
