<div class="col-md-8 col-md-offset-2 col-centered">
  <h1>Error 500: Internal Server Error</h1>
    <div class="row">
      <p>Sorry about this, but something went wrong! The site administrator
      has been notified. Although there was an error, the action you attempted
      may have succeeded. You can contact us at
      <%= mail_to Setting.Site['webmaster_email'], 'this email address' %>.
      </p>
    <%= image_tag('500.png', class: 'server_error') %>
    </div>
</div>
