<div class="col-md-8 col-md-offset-2 col-centered">
  <h1>500: Internal Server Error</h1>
    <div class="row">
      <p>Sorry about this, but something went wrong! An attempt will
      be made to notify the site administrator. In spite of the error,
      the action you attempted may have succeeded. If not, please
      try again. If the error re-occurs, please ask for help.</p>
    <%= image_tag('500.png', class: 'server_error') %>
    </div>
</div>