# Rename to emails.yml and customize email addresses
default:
  application: 'workshops@example.com'
  webmaster: 'webmaster@example.com'
  system_administrator: 'sysadmin@example.com'
  program_coordinator: 'organization@example.com'
  secretary: 'organization-secretary@example.com'
  administrator: 'organization-administrator@example.com'
  director: 'organization-director@example.com'
  videos: 'videos@example.com'