# Rename to emails.yml and customize email addresses
default:
  application: 'workshops@example.com'
  webmaster: 'webmaster@example.com'
  system_administrator: 'sysadmin@example.com'
locations:
  LOC1:
    program_coordinator: 'organization@example.com'
    secretary: 'organization-secretary@example.com'
    administrator: 'organization-administrator@example.com'
    director: 'organization-director@example.com'
    videos: 'videos@example.com'
    schedule_staff: 'barista@example.com, photographer@example.com'
    event_updates: 'webmaster@example.com, communications@example.com'
    name_tags: 'organization-secretary@example.com'
  LOC2:
    program_coordinator: 'organization@example2.com'
    secretary: 'organization-secretary@example2.com'
    administrator: 'organization-administrator@example2.com'
    director: 'organization-director@example2.com'
    videos: 'videos@example2.com'
    schedule_staff: 'barista@example2.com, photographer@example2.com'
    event_updates: 'webmaster@example2.com, communications@example2.com'
    name_tags: 'organization-secretary@example2.com'
