# Rename to location.yml and customize
default:
  first: 'LOC1'
  second: 'LOC2'
  third: 'LOC3'
  all: ['LOC1', 'LOC2', 'LOC3']
  country:
      LOC1: 'Canada'
      LOC2: 'Mexico'
  timezone:
    LOC1: 'Mountain Time (US & Canada)'
    LOC2: 'Mexico City'
  rooms:
    LOC1:
      '5 Day Workshop': 'TCPL 201'
      'Summer School':  'TCPL 202'
      'Research in Teams': 'TCPL 107'
    LOC2:
      '5 Day Workshop': 'Conference Room San Felipe'
      'Summer School':  'Downtown Location'
