$background: #e5e5e5;
$foreground: #fff;

$logo: #073a6b;
$grey-heading: #535353;
$grey-border: #7d7d7d;
$blue-border: #183660;
$light-border: #ccc;

$dark-text: #262626;

$primary-background-color: #f5f5f5;
$secondary-background-color: #237cbe;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #2e6aa0;
$secondary-link-color: #fff;
$errors-background-color: #ffc;
$errors-text-color: #dc3d3d;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #dbffdd;
$flash-alert-color:  #ffe1de;
$accent-color: #fafbff;
$fieldset-color: lighten($secondary-background-color, 50%);
$flash-message-color: #ffa715;

$tooltip-bg: #237cbe;
$tooltip-color: $subdued-color;

$cancelled-events-link-color: #b6b6ba;
