$background: #E5E5E5;
$foreground: #FFFFFF;

$logo: #073A6B;
$grey-heading: #535353;
$grey-border: #7D7D7D;
$blue-border: #183660;
$light-border: #cccccc;

$dark-text: #262626;

$primary-background-color: #F5F5F5;
$secondary-background-color: #237CBE;
$primary-text-color: #444;
$secondary-text-color: #777;
$primary-link-color: #2E6AA0;
$secondary-link-color: #FFF;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;
$fieldset-color: lighten($secondary-background-color, 50%);
$flash-message-color: #FFA715;

$tooltip-bg: #237CBE;
$tooltip-color: $subdued-color;
