.administrate {
  header {
    h1 {
      font-size: 18px;
      font-family: verdana, arial, helvetica, sans-serif;
      margin: 15px;
    }
    p { margin-left: 15px; }
  }
  a.navigation__link {
    font-size: 14px;
  }
}

