@import "bootstrap-sprockets";
@import "bootstrap";

.authform {
  padding-top: 30px;
  max-width: 320px;
  padding-left: 30px;
  /* margin: 0 auto; */
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}

.authform .right {
  /* float: right !important; */
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.horizontal-authform {
  @extend .authform;
  max-width: 620px;
  padding-left: 30px;
}
.horizontal-authform h4 {
  margin: 1em 0;
}

.horizontal-authform fieldset {
  padding: 0 20px;
}
.horizontal-authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.sign-in-links {
  font-size: 0.9em;
  margin-top: 6px;
  margin-left: 30px;
}

