#errors .alert {
  padding-bottom: 35px;
  li {
    font-size: 12pt;
  }
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.vertical-center {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.not_found_image {
  margin-top: 20px;
}
