@import "_colours";

td.confirmed {
  text-align: center;
  padding-right: 1.8em;
}

.table tbody tr.heading > th {
  background-color: $subdued-color !important;
  font-size: 1.3em;
}

h4.event-details {
  margin-top: 25px;
}

#event-description {
  margin-top: 1em;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.event-edit-icon {
  text-align: right;
  font-size: 1.2em;
  padding-top: 1em;
}

#edit-button {
  margin-bottom: 40px;
}

.schedule-button {
  margin-top: 20px;
  padding-right: 5px;
  vertical-align: bottom;
}
