@import "colours";

.event-details {
  .event-page {
     background-color: white;
     padding: 1em;
     border: 1px solid $light-border;
   }

  td.confirmed {
    text-align: center;
    padding-right: 1.8em;
  }

  .table tbody tr.heading > th {
    background-color: $subdued-color !important;
    font-size: 1.3em;
  }

  td.label {
    font-weight: bold;
    text-align: right;
    max-width: 200px;
  }

  @media only screen and (max-width: 767px) {
    .table>tbody>tr>td {
      display: block;
      min-width: 100%!important;
    }
    td.label {
      text-align: left;
    }
  }

  .event-edit-button {
    margin-top: 1em;
  }

  .schedule-button {
    margin-top: 20px;
    padding-right: 5px;
    vertical-align: bottom;
  }

  .input-group-addon {
    padding: 5px;
  }

  h2 small {
    font-style: italic;
    color: lighten($grey-heading, 20%);
  }

}
