#welcome-message {
  font-size: 1.3em;
  margin: 2em 1em;
}

#more-welcome-info {
  border-top: 2px dashed lightgrey;
  margin-top: 100px;
}

.event-title {
  color: white;
  .subtitle {
    margin-left: 15px;
    font-size: 0.7em;
  }
}

.my-events {
  margin-bottom: 2em;
}

.btn-group {
  .btn-primary {
    margin: 0 10px;
  }
}

.your-workshops {
  text-align: right;
  h2 {
    margin-right: 10px;
  }
}

.event-status {
  margin-top: -10px;
  background-color: $background;
  padding: 1em;
}

.event-buttons {
  margin-top: -20px;
  margin-left: 0px;

  .btn {
    margin-right: 10px;
  }
}

.card-primary .event-date {
  color: #fff;
}
.card-title {
  a:hover {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}
.workshop-links {
  padding: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 2em;
  a {
    text-decoration: underline;
  }
}
