/* Import Twitter Bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "colours";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}


/* Header area */
.navbar-top-links a {
  color: inherit;
}
.page-header a {
  color: inherit;
}

#application-heading {
  margin-top: 5px;
  height: 45px;
  /* border: 1px solid red; */
  text-align: bottom;
  #logo-heading {
    padding: 5px;
    img {
      max-height: 45px;
      vertical-align:middle;
    }
  }
  #application-title {
    font-size: 1.5em;
    padding-bottom: 10px;
  }
}

.page-header-subtitle {
  margin-top: -0.5em;
  margin-bottom: 1em;
  img { display: inline; }
  h4 { display: inline; }
}

/* Flash notices */
.flash-messages {
  margin-top: 51px;
}
.flash-messages .alert ul {
  text-align: left;
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 2em;
}

.flash-messages .warning-header {
  font-size: 1em;
  font-weight: bold;
}

.flash-messages p {
  font-size: 1em;
  margin-top: 1.5em;
}

.flash {
  @extend .alert;
  text-align: center;
  vertical-align: middle;
}
.notice {
  @extend .alert-success;
}
.warning {
  @extend .alert-warning;
}
.alert-alert {
  @extend .alert-warning;
}
.alert-error {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
  margin: 0;
}

/* Tables on Events, Membership, Schedule pages */
.table-heading {
  font-size: 1.1em;
  font-style: bold;
  font-weight: bold;
}

form .field_with_errors {
	width: 100%;
	background-color: #fff;
}
form .field_with_errors input {
	background-color: #edd4d5;
	/* margin-top: -20px; */
}
form .field_with_errors select {
	background-color: #edd4d5;
}
form .small-field {
	width: 100px;
}
.member-email {
	padding-bottom: 25px;
}

li.spacer {
  background-color: #FFFFFF;
  height: 4em;
}
.page-title {
	padding-bottom: 1em;
}
.page-title h1 {
	margin: 0;
	padding: 0.5em 0;
}

li.rightside {
	float: right;
	text-align: right;
}

.nav-second-level .memberships {
  li a {
    margin-left: 13px;
  }
}

/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
  /* inline-block space fix */
  margin-right: -4px;
}

footer#page-footer {
  color: $blue-border;
  background: $background;
  padding: 5px;
  margin: 2em 1em;
  border: 1px solid $grey-border;
  border-top: 5px solid darken($background, 25%);

}

.panel-footer {
  text-align: center;
  vertical-align: middle;
}
/* "blank" row class in striped table */
.table-striped > tbody > tr.blank > td {
	background-color: white;
}

.footer .powered-by {
  text-align: right;
  font-size: 0.8em;
  font-color: $subdued-color;
  padding-right: 10px;
  padding-bottom: 8px;
  margin-top: -10px;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

a.btn-primary a:visited {
  color: #fff;
}
