// Top Navbar

.app-header {
  @extend .navbar;
  height: 50px;
  padding: 0;
  margin: 0;

  #mobile-nav {
    color: white;
    @extend .app-sidebar__toggle, .d-md-none;
    max-width: 50px;
  }

  a.app-header__logo {
    @extend .d-none, .d-md-block;
    max-width: 60px;
    background-color: $primary-color;
    img {
      height: 40px;
      background-color: white;
      margin: 5px 10px 5px -10px;
      padding: 0;
    }
  }

  #application-title {
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
  }

  // User menu
  ul.app-nav {
  }
}

// Alerts
.flash-messages {
  position: relative;
  top: 50px;
  text-align: center;
  padding: 0;
  @media(min-width: 768px) { margin-left: $sidebar-width; }
}

.notify-alert {
  box-shadow: none;
  border: 1px;
  max-width: 99999px;
  width: 100%;

  .alert {
    @media(min-width: 768px) { margin-left: -$sidebar-width; }
    //text-indent: $sidebar-width/2;
  }

  .alert-notice {
    @extend .alert-warning;
  }

  .alert-error {
    @extend .alert-danger;
  }
}

.alert-alert {
  @extend .alert-success;
}

// Side Navbar
.app-sidebar__overlay {
  @media(max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
  }
}



.app-sidebar {

  #hide-sidebar {
    margin-top: -15px;
    margin-bottom: 50px;
    text-align: right;
    width: 100%;

    a {
      font-size: 1.2em;
      color: white;
      margin-right: 8px;
      text-decoration: none;

      i.hidden {
        visibility: none;
      }
    }
  }
  ul.app-menu {
    margin-top: -50px;
  }
}

li.nav-second-level {
  margin-left: 5%;
}

// Events pages
.page-header-subtitle {
  margin-bottom: 15px;

  img {
    margin-right: 5px;
    vertical-align: -25%;
  }
  h4 {
    display: inline-block;
    .small-bullet {
      font-size: 1.3em;
    }
  }
}


// Footer
.sidebar-mini {
  margin: 0;
  padding: 0;
}

.footer {
  display: block;
  float: top;
  position: absolute;
  left: -3%;
  width: 106%;
  text-align: center;
  margin: 0;
  text-indent: $sidebar-width;

  padding: 0;
  .card-footer {
    font-size: 0.9em;
  }
  .powered-by {
    @extend .pull-right;
    margin-right: 2%;
    font-size: 0.8em;
  }
}
