#profile-pic {
  margin: 8px 0;
}

.page-header-subtitle h4 {
    font-size: 1em;
}

.personal-details-and-other-memberships {
  padding-right: 45px;
}

.profile {
  margin-top: 20px;
  font-size: 1.2em;

  .row {
    margin: 10px 0;
  }

  #other-memberships {
    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }
    li {
      font-size: 1.2em;
    }
  }

  #profile-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  #profile-phone {
    margin-top: 1.5em;
  }
  #profile-address {
    margin-top: 1.5em;
  }
  #profile-bio, #profile-special-info p {
    font-size: 0.9em;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .membership-details {
    margin-top: 1.5em;
  }

  #profile-rsvp-invited {
    font-style: italics;
    font-size: 0.8em;
    padding: 0 0.8em;
  }
}

.updated-by {
  font-size: 0.8em;
  padding-top: 15px;
  text-align: left;
}
#member-updated-by {
  padding-left: 15px;
  margin-bottom: -30px;
}

#member-buttons {
  padding: 15px;
}

#gender-select {
  width: 50px;
}

h3#personal {
  margin-bottom: -15px;
}
h3#membership, h3#hotel {
  margin-top: 60px;
  margin-bottom: 30px;
}

.member_notes {
  font-size: 0.8em;
  margin-left: 1em;
  p {
    padding: 0;
    margin: 0.5em;
  }
}

#limits-message {
  font-size: 1.2em;
  font-style: bold;
}

td.invite-buttons {
  vertical-align:middle;
  a.btn {
    margin-top: -2px;
  }
}

#add-members {
  p {
    margin: 0.8em 0;
  }

  .inline-checkbox {
    margin-top: 10px;
    margin-left: 5px;
    p {
      font-size: 1.2em;
      display: inline;
      margin-left: 5px;
    }
    .checkbox {
      margin-bottom: 12px;
      display: inline;
    }
  }

  #add-members-submit {
    margin-top: 10px;
  }

  .member-roles {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: normal;
  }

  #roles-icon {
    padding-top: 12px;
    font-size: 1.8em;
  }

  ul#about-roles-list {
    font-size: 1.2em;
    font-weight: normal;
    li {
      margin-bottom: 1.2em;
      line-height: 1.5em;
    }
  }
}

#add-members-success {
  margin-bottom: 50px;
}

#add-member-errors {
  text-align: left;
  margin-left: 100px;
  ul {
    align: left;
  }
}

ol#added-members {
  margin: 1em;
  font-size: 1.2em;
  li {
    margin-bottom: 1em;
  }
}

table#new-people {
  td, th {
    font-size: 1.2em;
  }
  td.counter {
    margin: 15px;
    font-style: bold;
    font-size: 14pt;
  }
  td {
    input[type="text"].has-error {
      background-color: #ffb3b3;
    }
  }
}

@media print {
    .no-print { display:none }
    a[href]:after {
      content: none !important;
    }
}
