#profile-pic {
  margin: 8px 0;
}

.page-header-subtitle h4 {
    font-size: 1em;
}

.profile {
  margin-top: 20px;
  font-size: 1.2em;

  .row {
    margin: 10px 0;
  }

  .other-memberships {
    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }
    li {
      font-size: 1.2em;
    }
  }

  #profile-name {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
  #profile-phone {
    margin-top: 1.5em;
  }
  #profile-address {
    margin-top: 1.5em;
  }
  #profile-bio, #profile-special-info p {
    font-size: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .membership-details {
    margin-top: 1.5em;
  }

  #profile-rsvp-invited {
    font-style: italics;
    font-size: 0.8em;
    padding: 0 0.8em;
  }
}

.updated-by {
  font-size: 0.8em;
  padding-top: 15px;
  text-align: left;
}
#member-updated-by {
  padding-left: 15px;
  margin-bottom: -30px;
}

#member-buttons {
  padding: 15px;
}

#gender-select {
  width: 50px;
}

h3#personal {
  margin-bottom: -15px;
}
h3#membership, h3#hotel {
  margin-top: 60px;
  margin-bottom: 30px;
}

.member_notes {
  font-size: 0.8em;
  margin-left: 1em;
  p {
    padding: 0;
    margin: 0.5em;
  }
}
