@import "colours";

h1 {
  color: $grey-heading;
  font-weight: bold;
}

h2.rsvp-section {
  margin: 1em 0;
  font-size: 1.8em;
  color: $grey-heading;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

h2.midpage {
  margin-top: 3em;
}

label {
  margin-top: 5px;
}

#unique-notice {
  font-size: 0.9em;
}

#invitation-error {
  h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding: 0 1em;
  }
  ul li {
    font-size: 1.5em;
    margin: 0 1em;
  }
  h4 {
    margin-top: 2em;
    padding: 0 1.5em;
    a {
      text-decoration: underline;
    }
  }
}

#maybe-form {
  p {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  #message {
    margin-top: 0;
  }
}

#yes-form {
  label {
    font-size: 1.2em;
    display: inline;
    color: $secondary-text-color;
    max-width: 80%;
  }
  .mandatory:after {
    content:"*";color:red;
  }

  .date-titles {
    text-align: right;
    color: $secondary-text-color;
  }

  .date-picker {
    overflow: hidden;
    margin-left: 30px;
    label {
      font-size: 1.2em;
      text-decoration: underline;
    }
  }
  p {
    color: $secondary-text-color;
  }
  .checkbox {
    margin: 10px;
  }
  #accommodation_buttons {
    text-align: center;
    margin-top: 20px;
  }
  .inline-checkbox {
    margin-left: 10px;
    p {
      font-size: 1.2em;
      display: inline;
      color: $secondary-text-color;
      margin-top: 10px;
    }
    br {
      line-height: 5px;
    }
    .checkbox {
      margin-bottom: 12px;
      display: inline;
    }
  }
  .guest-options {
    .field_with_errors {
      background-color: #e9d5d5;
    }
    display: inline;
    td {
      padding-left: 8px;
    }
  }
}

#canadian-grants {
  h4 {
    color: $grey-heading;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 15px;
  }
}

#feedback-form {
  h1 {
    margin-bottom: 20px;
  }
}

.btn {
  margin-top: 10px;
}

.well {
  margin: 70px 20px 20px 20px;
}

#click-submit {
  padding: 1em;
  margin-top: 5px;
  text-align: right;
  font-size: 1.3em;
  color: $errors-text-color;
}
