@import "colours";

h1 {
  color: $secondary-text-color;
  font-weight: bold;
}

#invitation-error {
  h3 {
    margin-top: 0;
    margin-bottom: 1.5em;
    padding: 0 1em;
  }
  ul li {
    font-size: 1.5em;
    margin: 0 1em;
  }
  h4 {
    margin-top: 2em;
    padding: 0 1.5em;
    a {
      text-decoration: underline;
    }
  }
}

#maybe-form {
  p {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  #message {
    margin-top: 0;
  }
  .btn {
    margin-top: 10px;
  }
}

#click-submit {
  padding: 1em;
  margin-top: 5px;
  text-align: right;
  font-size: 1.3em;
  color: $errors-text-color;
}
