@import "colours";

.rsvp {
  .btn {
    border: 1px solid lightgrey;
    border-right: 2px solid $grey-border;
    border-bottom: 2px solid $grey-border;
  }

  .invitation-box {
    box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px;
    max-width: 800px;
    padding: 0;
    margin: 0;
  }

  .rsvp-content {
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .rsvp-card-title {
    @extend .card-title;
    text-align: center;
    border: 2px solid white;
  }

  h1 {
    color: $grey-heading;
    font-weight: bold;
    small {
      font-size: 0.7em;
    }
  }

  h2 {
    small {
      font-size: 0.6em;
    }
  }

  h3 {
    color: $grey-heading;
    font-weight: bold;
  }

  h3#attend {
    text-align: center;
    margin: 60px auto 30px auto;
  }

  h2.rsvp-section {
    margin: 1em 0;
    font-size: 1.8em;
    color: $grey-heading;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
  }

  h2.midpage {
    margin-top: 3em;
  }

  label {
    margin-top: 5px;
  }

  .answers {
    border: 1px solid lightgrey;
  }

  #unique-notice {
    font-size: 0.9em;
  }

  #invitation-error {
    h3 {
      margin-top: 0;
      margin-bottom: 1.5em;
      padding: 0 1em;
    }
    ul li {
      font-size: 1.5em;
      line-spacing: 1.3em;
      margin: 0 1em;
    }
    h4 {
      margin-top: 2em;
      padding: 0 1.5em;
      a {
        text-decoration: underline;
      }
    }
  }

  #maybe-form {
    p {
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: left;
    }
    #message {
      margin-top: 0;
    }
  }

  #yes-form {
    label {
      font-size: 1.2em;
      display: inline;
      color: $secondary-text-color;
      max-width: 80%;
    }
    .mandatory:after {
      content:"*";color:red;
    }
    #may-return {
      @extend .text-center;
      margin-top: 1em;
      margin-bottom: 0;
    }

    .date-titles {
      text-align: right;
      color: $secondary-text-color;
      h4 {
        font-size: 1.5em;
      }
    }

    .date-selectors {
      overflow: none;
      label {
        font-size: 1.2em;
        text-decoration: underline;
      }
    }
    p {
      color: $secondary-text-color;
    }
    .checkbox {
      margin: 10px;
    }
    #accommodation_buttons {
      width: 100%;
      text-align: left;
      line-height: 1.5em;
      margin: -1em 0 0 1em;
      @media (min-width: 415px) {
        margin-left: 20%;
      }
    }

    #guest-options {
      margin-left: 1.5em;

      label {
        margin-left: 0.5em;
      }

      .form-check-input {
        margin-top: 8px;
      }

      .mandatory:before {
        content:"*";color:red;
        margin-right: 0.5em;
        font-size: 1.8em;
      }

      .field_with_errors {
        background-color: #e9d5d5;
      }
    }

    #email-options {
      margin-left: 1.5em;
      margin-bottom: 2em;
      line-height: 2em;
    }

    #canadian-grants {
      h4 {
        color: $grey-heading;
      }
      p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-left: 15px;
      }
    }

    #privacy-notice {
      border: 1px solid lightgrey;
      p {
        padding: 1em;
      }
    }

    .field_with_errors {
      label {
        color: $errors-text-color;
      }
      input,select {
        background-color: #e9d5d5;
      }
    }
  }


  #feedback-form {
    h1 {
      margin-bottom: 20px;
    }
  }

  .well {
    margin: 70px 20px 20px 20px;
  }

  #click-submit {
    font-size: 1.3em;
    color: $errors-text-color;
    text-align: right;
  }

  #revisit-note {
    padding: 1em;
    margin-top: 10px;
    color: $grey-heading;
    a:link {
      text-decoration: underline;
    }
  }

  #errors h4 {
    color: $grey-heading;
  }
}

/* also used by memberships#email_change */
#email-form {
  text-align: center;
  overflow: auto;

  p { margin-top: 1.5em; }

  #new_email_form {
    margin-top: -2em;
  }

  .verification-msg {
    @media (min-width: 768px) {
      text-align: right;
    }
    padding: 0.4em;
  }

  .email-code {
    padding: 0.4em;

    width: 100vw;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    input {
      @media (max-width: 768px) {
        width: 50%;
      }
    }
  }

  #second-row {
    margin-top: 1.5em;
  }

  #button-row {
    margin-top: 1.5em;

    @media (max-width: 413px) {
      .btn {
        float: none;
        margin-bottom: 1em;
        }
    }
  }
}
