@import "colours";

/* Sidebar */
@media(min-width:768px) {
  #page-wrapper {
    margin: 0 0 0 175px;
  }
  .sidebar {
    width: 175px;
    margin-top: 2px;

    ul li#event-links {
      margin-top: 2px;
      border-top: 1px solid #e7e7e7;

      a>.fa.arrow:before {
        content: "\f107";
      }
    }

    li.active {
      background-color: #fff;
      width: 180px;
      border-bottom: none;

      .top-border {
        width: 175px;
        border-top: 1px solid #e7e7e7;
      }

      .bottom-border {
        width: 175px;
        border-bottom: 1px solid #e7e7e7;
      }

      a {
        color: red;
      }

      a#event-locations-link {
        color: $primary-link-color;
      }
    }

    .arrow-down {
      float: right;
    }
    .arrow-down:before {
      content: "\f107";
    }

  }
}
