#welcome-message {
  font-size: 1.3em;
  margin: 2em 1em;
}

#more-welcome-info {
  border-top: 2px dashed lightgrey;
  margin-top: 100px;
}

.event-title {
  font-size: 1.3em;
  font-weight: bold;
}
.your-workshops {
  text-align: right;
  h2 {
    margin-right: 10px;
  }
}
.event-status {
  margin-top: -15px;
  margin-bottom: 20px;
  background-color: #dddddd;
}
.event-status p {
  color: black;
  margin: 10px;
  font-size: 0.9em;
}
.event-buttons {
  margin: 1em;
}

.card-primary .event-date {
  color: #fff;
}
.card-heading {
  a:hover {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}
.workshop-links {
  padding: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 2em;
  a {
    text-decoration: underline;
  }
}
