<p>Dear <%= @resource.person.dear_name %>,</p>

<p>Please confirm your account by following the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Many thanks,<br />
  Banff International Research Station</p>

