
<div class="row footer">
  <div class="col-lg-12">
    <div class="card card-default">
      <div class="card-footer">
        <%= Setting.Site['footer'] %>
      </div>
    </div>
    <div class="powered-by">Powered by <a href="https://github.com/brentkearney/workshops">Workshops</a></div>
  </div>
</div>
