<!-- Notice of new feature modal -->
<div class="modal fade in" id="new-feature-notice" tabindex="-1" role="dialog" aria-labelledby="new-feature-notice" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="new-feature-title">New Design!</h3>
      </div>
      <div class="modal-body">
        <p>"Workshops" has been overhauled with a new look & feel, and now works
          much better on a range of screen sizes. It currently has the same
          features as before, with many small improvements, and more to come.
        </p>
        <p>Use the "<i class="toggle-arrows fa fa-angle-double-left"></i>
          <i class="toggle-arrows fa fa-angle-double-left"></i>" link to hide
          the side-bar, which contains navigation links.</p>
        <p>I hope you enjoy the new design, and I welcome any feedback.</p>
        <p><%= GetSetting.site_setting('webmaster_name') %><br/>
          <a href="mailto:<%= GetSetting.site_setting('webmaster_email') %>">
            <%= GetSetting.site_setting('webmaster_email') %></a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
